{% extends "base.html" %}
{% block title %}Сброс пароля прошёл успешно{% endblock %}
{% block content %}
  <div class="row justify-content-center mx-0">
    <div class="col-5 p-5">
      <div class="card">
        <div class="card-header text-center">
          Восстановление пароля завершено
        </div>
        <div class="card-body text-center">
          <p>Ваш пароль был сохранен. Используйте его для входа</p>
          <a href="{% url 'users:login' %}" class="btn border-light" style="background:#DFDFDF; color:black">Войти</a>
        </div> 
      </div> 
    </div>
  </div> 
{% endblock %}