{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}

{% block content %}
<div class="row justify-content-center mx-0">
    <div class="col-5 p-5">
		<div class="card">
			<div class="card-header text-center">
				Информация об авторе проекта и технологиях
			</div>
			<div class="card-body">
				Фуллстeк разработка и дизайн сайта - Аюпов Ильдар<br>
				<a href="mailto:ildarbon@gmail.com">ildarbon@gmail.com</a><br>
				<br>
				Использованные технологии и библиотеки:<br>
				- Python<br>
				- Django<br>
				- Bootstrap<br>
				- HTML<br>
				- CSS<br>
				- Javascript<br>
				- Сторонние модули: sorl-thumbnail, pillow<br>
				<br>
				Реализованы такие вещи как:<br>
				- переопределена стандартная модель user, добавлены новые поля<br>
				- переопределены Class Based Views из django.contrib.auth.views<br>
				- отслеживание активности пользователей через middleware<br>
				- восстановление пароля по электронной почте<br>
				- пользовательские теги, фильтры (для контроля форм, подсчета количества сообщений, определения последнего сообщения и перевода даты и времени под часовой пояс пользователя)<br>
				- пагинация<br>
				- загрузка изображений для аватаров пользователей, в сообщения пользователей, отображение их в виде миниатюр или в полноразмерном виде<br>
				- ввод смайликов в сообщениях<br>
				- возможность цитирования сообщений других авторов<br>
			</div>
		</div>
	</div>
</div>		
{% endblock %}
