{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}

{% block content %}
<div class="row justify-content-center mx-0">
    <div class="col-5 p-5">
		<div class="card">
			<div class="card-header text-center">
				Информация об авторе проекта и технологиях
			</div>
			<div class="card-body">
				ABC-forum - свободный форум для общения по самым разным темам<br>
				Фуллстек-разработка и дизайн: Ильдар Аюпов, 2023 г.<br>
				e-mail: ildarbon@gmail.com<br>
				Telegramm: @ildarbonn<br>
				Репозиторий на GitHub: <a>https://github.com/ildar-aiupov/abc-forum</a><br> 
				<br>
				Основные библиотеки и технологии:<br>
				- Бэкенд: Python, Django, PostgreSQL<br>
				- Фронтенд: Bootstrap, HTML, CSS, Javascript<br>
				- Деплой: Docker, NGINX, Gunicorn, Continuous Deployment (GitHub Actions)<br>
				<br>
				Реализованы такие вещи, как:<br>
				- переопределена стандартная модель user, добавлены новые поля<br>
				- переопределены Class Based Views из django.contrib.auth.views<br>
				- регистрация пользователей, изменение пароля, сброс пароля по электронной почте<br>
				- автоматическая подстройка меток даты и времени тем и сообщений под часовой пояс текущего пользователя<br>
				- отслеживание активности пользователей через middleware<br>
				- пользовательские теги, фильтры (для контроля форм, подсчета количества сообщений пользователя, определения последнего сообщения и перевода даты и времени под часовой пояс пользователя)<br>
				- пагинация списков тем и сообщений<br>
				- дерево навигации по сайту<br>
				- возможность сортировки тем по разным критериям<br>
				- подгрузка изображений в профили и сообщения пользователей, отображение их в виде миниатюр или в полноразмерном виде<br>
				- возможность цитирования сообщений других авторов<br>
				- ввод смайликов в сообщениях<br>
				<br>
				Информация о размещении и запуске проекта на локальной машине приведена в файле readme.md в репозитории на GitHub<br>
			</div>
		</div>
	</div>
</div>		
{% endblock %}
