{% extends 'base.html' %}
{% load user_filters %}

{% block content %}
<div class="row justify-content-center mx-0">
    <div class="col-12 p-3">
		<div class="card">
			<div class="card-header text-center">
				Все форумы конференции
			</div>
			<div class="card-body">

				<ul class="list-group">
					
					<ul class="list-group list-group-horizontal">
						<li class="list-group-item col-6 grey rounded-0">
							Форум
						</li>
						<li class="list-group-item col-4 grey">
							Последняя тема
						</li>
						<li class="list-group-item col-1 grey text-center">
							Тем
						</li>
						<li class="list-group-item col-1 grey text-center rounded-0">
							Сообщений
						</li>
					</ul>
					
					{% for big_group in big_groups %}
						<ul class="list-group">
							<li class="list-group-item col-12 grey rounded-0">
								{{ big_group.name }}
							</li>

							{% for group in big_group.Group.all %}
								<ul class="list-group list-group-horizontal">
									<li class="list-group-item col-6 light-grey rounded-0">
										<a href="{% url 'main:group_view' group.id 'order_topic_later' %}">
											{{ group.name }}
										</a>
									</li>
									<li class="list-group-item col-4 grey">
										<a href="{{ group|last_post_in_group:'url' }}">
											{{ group|last_post_in_group:"topic_name" |truncatechars:40 }}<br>
											<div class="fs-6">
												{{ group|last_post_in_group:"author" }}
												{{ group|last_post_in_group:"pub_date"|date:'d.m.Y H:i' }}
											</div>
										</a>
									</li>
									
									<li class="list-group-item col-1 light-grey text-center">
										{{ group.Topic.count }}
									</li>
									<li class="list-group-item col-1 grey text-center rounded-0">
										{{ group|count_post_in_group }}
									</li>
								</ul>
							{% endfor %}
						</ul>
					
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>		
{% endblock %}
