{% extends "base.html" %}

{% block title %}Правила форума{% endblock %}

{% block content %}
<div class="row justify-content-center mx-0">
	<div class="col-md-8 p-5">
		<div class="card">
			<div class="card-header text-center">
				Правила и рекомедации на форуме
			</div>
			<div class="card-body">
				<p style="text-indent:20px;" align="justify">
					Данный сайт является бесплатным для его пользователей. 
					В то же время его пользователи должны подчиняться оговоренным здесь правилам, а также писаным и неписаным законам общества. 
					За соблюдением порядка на сайте следят специально назначенные администраторы и модераторы.<br>
				</p>
				<p style="text-indent:20px;" align="justify">
					Данный сайт находится в процессе постоянного совершенствования и изменения, 
					поэтому приветствуются рекомендации пользователей по улучшению сайта, но они могут быть учтены не сразу, а при последующих обновлениях сайта.<br>
				</p>
				<p style="text-indent:20px;" align="justify">
					На данный момент перед нами не стоит задача привлечения как можно большего количества пользователей, 
					а даже наоборот уменьшения его за счет исключения малоинтересных для большинства и нарушающих установленные порядки. 
					Поэтому некоторым товарищам будет полезно почитать раздел запреты далее.<br>
				</p>
				<p style="text-indent:20px;" align="justify">
					Для первоначального знакомства с сайтом и просмотра сообщений вовсе необязательно регистрироваться.
					Если же вы собираетесь надолго обосноваться на сайте и поместить дополнительные сведения о себе, то можете зарегистрироваться.<br>
				</p>
				<p style="text-indent:20px;" align="justify">
					На сайте запрещается материться, угрожать, скандалить, говорить непристойности в адрес любого пользователя чата. 
					Запрещается нарушать порядок на сайте, мешать чужим беседам, а также совершать действия, направленные на нарушение функционирования сайта. 
					Запрещается использовать помещенные на сервере адреса e-mail для несанкционированной рассылки спама. 
					Также не разрешается использовать изображения и фотографии с сайта где-либо еще без разрешения обладателей этих изображений и фотографий.
					Запрещается флудить на сайте, т.е. помещать множество сообщений с отвлеченным и пустым содержанием.<br>
				</p>
				<p style="text-indent:20px;" align="justify">
					Администраторы и модераторы могут удалять любые сообщения, которые не соответствуют как данным правилам, так и по любому другому поводу без всяких предупреждений.
					Кроме того, они могут удалить с сайта любого пользователя, как нарушающего эти правила, так и за другие действия, мешающие остальным пользователям.
					Администраторы и модераторы имеют право самим решать, в какую сторону вести сайт, и выбирать тех пользователей, которых бы они хотели видеть на сайте, и тех, кого нет.
					Если хотите оставаться на сайте, то соблюдайте правила.
				</p>
			</div>
		</div>
	</div>
</div>		
{% endblock %}
