{% load static %}
{% load thumbnail %}

<my_nav>
  {% with request.resolver_match.view_name as view_name %}
    <div class="row fixed-bottom p-3 border-top border-white" >
      <div class="col-12">
        {% for name, url in tree.items %}
          <a href="{{ url }}" 
          {% if forloop.last %}style='color:white;'{% endif %}
          class="text-decoration-none">
            {{ name|truncatechars:60 }}
          </a>
          &nbsp;
          {% if not forloop.last %}>{% endif %}
        {% endfor %}
      </div>
    </div>
  {% endwith %}
</my_nav>
